<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/styles.css'>
    <script src="/js/scripts.js"></script>

    <!-- LOGO FONT: -->
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <br><hr><br>

    <div id="navigation">
      <a href="/">Home  -   </a>
      <a href="/recipes">-  Recipes  -  </a>
      <a href="/tags">-  by Type   -  </a>
      <a href="/ingredients">-  by Available Ingredients</a></li>
    </div>

  </body>

      <!-- CAROUSEL LAYOUT BELOW -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
