<h2>Recipes</h2>
<hr>
<br>

<% if @recipes == [] %>

<p>There are currently no recipes in the database</p>

<% else %>

<p>Current Recipes</p>
<ul>

  <% @recipes.each() do |recipe| %>

  <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.recipe_name() %></a></li>

  <% end %>

</ul>

<% end %>
<form action="/recipes" method="post">
  <input type="text" name="recipe_name" id="tag">
  <button type="submit">Add Recipe</button>
</form>
