<link rel='stylesheet' href='/css/styles.css'>

<h3> Add a recipe: </h3>
<form action="/recipes" method="post">
  <label for="recipe_name">Recipe Name:</label>
  <input type="text" name="recipe_name" id="recipe">
  <br><br>

  <label for="recipe_name">Instructions:</label>
  <textarea rows="7" id="instruction" cols="30"></textarea>
  <br><br>
<hr>



  <% if @tags == [] %>
  <p>There are currently no tags in the database</p>
  <% else %>
  <ul>
    <% @tags.each() do |tag| %>
    <li><a href="/tags/<%= tag.id() %>"><%= tag.tag() %></a></li>
    <% end %>
  </ul>
  <% end %>




  add list of ingredients<br><br>


  <button type="submit">Add Recipe</button>
</form>
